name: Mirror onto arknights-vns/terra
on:
  schedule:
    - cron: "0 23 * * 5"
  workflow_dispatch:

jobs:
  mirror:
    if: github.repository == 'arknights-vns/akvns.org'
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
        with:
          repository: arknights-vns/akvns.org
          ref: main
          # https://github.com/actions/checkout/issues/485
          persist-credentials: false
          fetch-depth: 1

      - name: add arknights-vns/terra to mirror
        run: |
          git remote add terra https://x-access-token:${{ secrets.TERRA_PAT }}@github.com/arknights-vns/terra.git

      - name: add github identity
        run: |
          git config user.name "akvns-mirror"
          git config user.email "no.thanks@akvns.org"

      - name: create orphan commit
        run: |
          git checkout --orphan public-main
          git add .
          git commit --no-verify -F - <<EOF
          chore: force-push from arknights-vns/akvns.org from $(git rev-parse --short HEAD)

          Co-authored-by: Tien Dat Pham <dat20036@gmail.com>
          Co-authored-by: Kochiya Shiina <caovanviethung1412@gmail.com>
          Co-authored-by: James-cmd-147 <leanhkhoi983gmail.com>
          Co-authored-by: Nguyễn Phạm Gia Bảo <hello@giabao06.xyz>
          Co-authored-by: shou. <huynhtanganhtu0411@gmail.com>
          Co-authored-by: Đỗ Tấn Lộc <dtl.dotanloc@gmail.com>
          Co-authored-by: Khai Nguyen <manhkhai2606@gmail.com>
          EOF

      - name: force push
        run: |
          git push terra public-main:main --force --no-tags
